body 
{
  background-color: black;
  color: white;
  font-size: medium;
  text-align: left;
}

h1
{
  font-weight: bold;
  color: purple;
  text-align: center;
}

h2
{
  color: black;
  text-align: center;
}
